@import url('https://fonts.googleapis.com/css2?family=Jua&family=Montserrat:wght@300;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'normalize.css';

:root {
  // Box properties
  --global_shadow: 0px 16px 24px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --borderRadiusSm: 4px;
  --borderRadiusMd: 8px;
  --borderRadiusLg: 16px;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04), 0px 4px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  --box-shadow-hover: 0px 16px 24px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

  --loginWidth: 300px;
  --loginHeight: 300px;
  --loginPadding: 12px;

  // Colors defined
  --gray-color: #eef4ff;
  --white-color: #fff;
  --black-color: #000;
  --border-color: #2c3e50;
  --primary-color: #1677ff;
  --delete-color: #ff7675;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  text-rendering: optimizespeed;
}
