.bacsic__info-left button {
  z-index: 999;
}
.bacsic__info-left .item-img img {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.bacsic__info-left .item-img {
  background-color: #fff;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  width: 25px;
  height: 65px;
  transform: translate(0, -50%);
  z-index: 999;
  cursor: pointer;
  display: flex;
  background: #605b5b66;
  justify-content: flex-end;
  align-items: center;
}
.custom-prev-arrow {
  left: -25px;
}
.custom-next-arrow {
  right: -25px;
  justify-content: flex-start;
}
.arrow-prev {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow-next {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.cs_paging {
  width: 20px;
  height: 20px;
}
.slick-dots {
  display: flex !important;
  bottom: -76px !important;
  justify-content: center;
}
.slick-dots li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slick-dots li {
  background-color: #b6b6b6ad;
}
.slick-dots .slick-active {
  background-color: #ececec;
}
.product-detail-row {
  gap: 100px;
  flex-wrap: nowrap;
  padding: 50px 0;
}
.product_name {
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
}
.product_description {
  font-style: italic;
}
.product__detail-basic-info {
  .rating {
    display: flex;
  }
  .rating-star {
    padding-right: 10px;
    border-right: 1px solid #cccc;
    margin-right: 5px;
    .stars {
      span {
        svg {
          font-size: 12px;
          color: #d0011b;
        }
      }
    }
    label {
      border-bottom-color: #d0011b;
      color: #d0011b;
      border-bottom: 1px solid;
      margin-right: 8px;
    }
  }
  .rating-comment {
    padding-left: 10px;
  }
  .product_price {
    font-size: 28px;
    margin: 9px 0;
    color: #d0011b;
    font-weight: 600;
  }
  .value-variation {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  .value-item {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #d0011b;
    color: #d0011b;
    align-items: center;
    justify-content: center;
    padding: 3px 9px;
    transition: 0.5s all;
  }
  .value-item:hover {
    color: #fff;
    background-color: #d0011b;
    border: 1px solid transparent;
  }
  // .quantity {
  //   display: flex;
  //   align-items: center;
  // }

  .quantity-label {
    margin-right: 10px;
  }

  .quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }

  .input-box {
    width: 100px;
    height: 30px;
    text-align: center;
    border: 1px solid #d0011b;
    outline: unset !important;
    background: transparent;
  }
  .quantity-control button {
    border-radius: 0 !important ;
    height: 30px;
    padding: 0px !important;
    width: 30px;
    border: 1px solid #d0011b;
    background: transparent;
    span {
      color: #d0011b;
    }
    &:hover {
      background-color: #d0011b;
      span {
        color: white;
      }
    }
  }
  .shopping-btns {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 30px;
    align-items: flex-start;
    .cs-button {
      width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      border: 1px solid #1677ff;
      &:hover {
        background: transparent !important;
      }
    }
  }
}
.product-review {
  margin-top: 100px;
  background-color: #fff;
  padding: 20px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .rating-overview {
    background-color: #fffbf8;
    border: 1px solid #f9ede5;
    border-radius: 2px;
    padding: 20px;
    margin-top: 30px;

  }
  .filter-rating{
    display: flex;
    gap: 10px;
  }
  .filter-rating-item{
    width: 70px;
    height: 35px;
    border: 1px solid #d0011b;
    display: flex;
    color: #d0011b;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    &:hover{
      background-color: #d0011b;
      color: #fff;
    }
  }
  .text-rating {
    color: #d0011b;
  }
  .rating span {
    color: #d0011b;
    font-size: 18px;
    margin-right: 5px;
  }
  .total-overview {
    font-size: 28px;
    margin-right: 5px;
  }
  .rating-list {
    margin-top: 30px;
    .rating-item {
      display: flex;
      gap: 15px;
      border-bottom: 1px solid #ededed;
      padding-bottom: 20px;
      margin-bottom: 20px;
      max-width: 95%;
      &:last-child {
        border-bottom: 0px solid #ededed;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
    }

    .avatar {
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
    .rating-name {
      margin-bottom: 0px;
    }
    .rating-star {
      color: #d0011b;
      font-size: 13px;
      margin-right: 3px;
    }
    .rating-date {
      font-size: 12px;
      color: #a6a6a6;
    }
    .rating-comment {
      font-size: 14px;
      line-height: 150%;
      margin-top: 10px;
    }
  }
}
